name: Test VM

on:
  workflow_dispatch:

jobs:
  testvm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: wget "https://github.com/technonerdz/Actions-Playground/releases/download/windowstest/windowsxp.tar.xz"

      - run: tar -xJf windowsxp.tar.xz

      - run: docker compose up -d

      - run: sleep 10

      - name: Install and Start SSH Server
        run: |
          sudo apt update
          sudo apt install -y openssh-server
          sudo systemctl start ssh
          sudo systemctl enable ssh
          echo "runner ALL=(ALL) NOPASSWD: ALL" | sudo tee /etc/sudoers.d/runner
          sudo passwd -d runner  # Remove password for runner user
      
      - run: sudo apt install nmap -y

      - run: docker exec windows /bin/bash -c "apt update && apt install -y ssh"

      - run: docker exec windows /bin/bash -c "ssh -R 445:20.20.20.21:445 runner@$(ip route | awk 'NR==1 {print $3}')" &

      - run: nmap 127.0.0.1

      - run: nmap -p 445 --script smb-os-discovery 127.0.0.1

      - name: screenshots-ci-action
        uses: flameddd/screenshots-ci-action@master
        with:
          url: http://127.0.0.1:8006
          waitForSelector: '#waitForElement'
          waitForSelectorTimeout: 5000
      - uses: actions/upload-artifact@v4
        with:
          path: screenshots
          name: Download-screenshots
