name: Test VM

on:
  workflow_dispatch:

jobs:
  pi-gen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: wget "https://github.com/technonerdz/Actions-Playground/releases/download/windowstest/windowsxp.tar.xz"

      - run: tar -xJf windowsxp.tar.xz

      - run: docker compose -d

      - run: sleep 20

      - uses: karol-brejna-i/webpage-screenshot-action@v1
        with:
          url: http://127.0.0.1:8006
      - uses: actions/upload-artifact@v3
        with:
          name: simple-screenshot
          path: ${{ github.workspace }}/*.png

