name: Test VM

on:
  workflow_dispatch:

jobs:
  testvm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: wget "https://github.com/technonerdz/Actions-Playground/releases/download/windowstest/windowsxp.tar.xz"

      - run: tar -xJf windowsxp.tar.xz

      - run: docker compose up -d

      - run: sleep 10

      - run: docker exec windows /bin/bash -c "apt update && apt install -y socat nmap"

      - run: docker exec windows /bin/bash -c "kill -9 203"

      - run: docker exec windows /bin/bash -c "socat TCP-LISTEN:445,bind=0.0.0.0,fork TCP:20.20.20.21:445" &

      - run: sudo apt update && sudo apt install nmap -y

      - run: docker exec windows /bin/bash -c "nmap 127.0.0.1"

      - run: docker exec windows /bin/bash -c "nmap -p 445 --script smb-os-discovery 127.0.0.1"

      - run: nmap 127.0.0.1

      - run: nmap -p 445 --script smb-os-discovery 127.0.0.1

      - name: screenshots-ci-action
        uses: flameddd/screenshots-ci-action@master
        with:
          url: http://127.0.0.1:8006
          waitForSelector: '#waitForElement'
          waitForSelectorTimeout: 5000
      - uses: actions/upload-artifact@v4
        with:
          path: screenshots
          name: Download-screenshots
